
<div class="12u">
  <div class="5grid-layout">
      <div class="row">
      <div class="4u">
      <section>
          <h2>Manutenção Computadores</h2>
      <p><a href="#"> <%= image_tag 'banner_computador.png' %></a></p>
   
               <p>Consertamos seu computador pessoal ou de sua empresa, utilizando peças de qualidade e marcas de renome. Além de fazer com que o computador volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardwarer e do Sistema Operacional, para melhorar o desempenho de seu equipamento.
</p>
<p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>

      <div class="4u">
      <section>
          <h2>Acessórios e Peças</h2>
      <p><a href="#"><%= image_tag 'banner_pecas.png' %></a></p>
    
                <p>Recuperação de hds todas as marcas estamos capacitados tecnologicamente para recuperar dados de todas as marcas e modelos de HD estragado. Recuperar Hard Disks com vários sintomas também é um serviço oferecido pelo nosso laboratório de recuperação de dados em HD:</p>
                <p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>
      <div class="4u">
      <section>
         <h2>Instalação de Programas</h2>
      <p><a href="#"><%= image_tag 'banner_programas.png' %></a></p>
      <p>Instalamos programas, aplicativos comerciais, aplicativos mobile e jogos em seu computador, notebook ou dispositivos moveis. Configuramos o seu software para que funcione perfeitamente, fazendo com que o programa em questão seja executado de maneira rápida e estável.</p>
      <p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>
      </div>
       <div class="row">
      <div class="4u">
      <section>
          <h2>Manutenção de Notebooks</h2>
      <p><a href="#"> <%= image_tag 'banner_notebook.png' %></a></p>
      <p>Consertamos notebooks, utilizando peças de qualidade e marcas de renome. Além de fazer com que o notebook volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardware e do Sistema Operacional, para melhorar o desempenho de seu equipamento.
      </p>
      <p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>

      <div class="4u">
      <section>
         <h2>Recuperação de Hds</h2>
      <p><a href="#"><%= image_tag 'banner_hds.png' %></a></p>
      <p>Recuperação de hds todas as marcas estamos capacitados tecnologicamente para recuperar dados de todas as marcas e modelos de HD estragado. Recuperar Hard Disks com vários sintomas também é um serviço oferecido pelo nosso laboratório de recuperação de dados em HD:</p>
      <p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>
      <div class="4u">
      <section>
         <h2>Manutenção em Impressoras</h2>
      <p><a href="#"><%= image_tag 'banner_impressoras.png' %></a></p>
      <p>Manutenção preventiva, limpeza troca de placas, todos os tipos de acessórios, cartuchos, toners, tudo que a sua impressora precisa para que tenha um bom funcionamento, você vai encontrar aqui.<br> Além de recargas de cartuchos e toners. </p>
      <p><%= link_to contacts_path , :title => "Solicite um orçamento..." do %>Solicite um orçamento...<% end %></p>

      </section>
      </div>
        <p><%= link_to root_path ,:class => "button" do %>
          Inicio
             <% end %>
        </p>

      </div>
  </div>
</div>