
        <article class="module width_3_quarter">
        <header><h3 class="tabs_involved">Listagem categorias de imagens </h3>
        <ul class="tabs">
            <li><%= link_to new_admin_type_path, :title => "Criar novo registro" do %>
                Novo registro <% end %></li>          
        </ul>
        </header>
        <div class="tab_container">
            <div id="tab1" class="tab_content">
            <table class="tablesorter" cellspacing="0"> 
            <thead> 
                <tr>                    
                    <th>Categoria de Imagens</th>                 
                    <th>Ações</th> 
                </tr> 
            </thead> 
            <tbody>                 
             <% @types.each do |c| %>
                <tr>                  
                    <td><%= c.name %></td>                  
                    <td><%= link_to edit_admin_type_path(c) do %>
                        <%= image_tag "admin/icn_edit.png", :title=> "Visualizar" %> <% end %>
                        <%= link_to admin_type_path(c), confirm: 'Deletar arquivo, Tem certeza ?', method: :delete , :title => "Excluir arquivo"  do %>
                        <%= image_tag "admin/icn_trash.png" %> <% end %>
                        </td> 
                </tr> 
               <% end %>
                 <tr><td colspan="5"><%= will_paginate @types %></td></tr>
            </tbody> 
            </table>
            </div><!-- end of #tab1 -->           
        </div><!-- end of .tab_container -->        
        </article><!-- end of content manager article -->        
       <!-- render menudireito -->      
      <%= render  'admin/homes/menudireito' %>    
    <!-- fecha render menudireito -->
        
       