<article class="module width_3_quarter">
<header>
  <h3 class="tabs_involved">Forgot your password?</h3>
</header>

<div class="tab_container">
<div id="tab1" class="tab_content">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

</div><!-- end of #tab1 -->  

</div><!-- end of .tab_container -->

</article><!-- end of content manager article -->

<div class="clear"></div> 


