
  <div class="12u">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u">
          <section>
            <p><a href="#"> <%= image_tag 'administrador.jpg' %></a></p>
            <p>O melhor sistema para controle físico e financeiro para sua empresa.<br>
Atende comércio em geral.<br>
Modulos especificos para: Indústrias, Prestadores de Serviços,  Supermercados<br>
Indústrias: Pequenas indústrias de fabricação em série. Controle de produção e de estoque, com cálculo de mão de obra direta e indireta embutido no custo do produto final, feito diretamente no sistema.<br>

Comércio em geral: Atende a empresas de pequeno porte em todos os ramos de comércio varejista que necessitem de sistema de automação comercial que possua robustez e controles integrados. 
</p>
             <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>
       
        <div class="4u">
          <section>
            <p><a href="#"><%= image_tag 'comercial.jpg' %></a></p>
            <p>Modernidade e eficiência em automação comercial.<br>

Permite a emissão de cupom fiscal e processar todas as funções pertinentes a essa função, adequadas ao que orienta a legislação ER-PAF-ECF.<br>

Pode ser utilizado sozinho ou como PDV dos retaguardas Sistema Administrador G4 ou Sistema Gerencial G4.<br>
Indicado para pequenas e micro empresas de comércio em geral.<br>

Lojas de informática, comércio de tintas, cosmésticos e perfumarias, confecções, calçados, papelaria, bicicletarias, auto elétricas, lojas de cd, livrarias, joalherias, lojas de conveniência, lojas de móveis, mercadinhos, etc.<br>


            <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>
         <div class="4u">
          <section>
            <p><a href="#"><%= image_tag 'gerencial.jpg' %></a></p>
            <p>O gerente que sua empresa estava esperando.<br>

Atende comércio em geral e modulos especificos, sem custo adicional!

    Restaurantes, Restaurantes com dispositivos móveis (MG4), 
    Prestadores de Serviços, 
    Oficinas (com Ordem de Serviços), 
    Farmácias<br>
Comércio em geral: Lojas de informática, materiais de construção, comércio de tintas, cosmésticos e perfumarias, drogarias, confecções, papelarias, bicicletarias, auto elétricas, lojas de disco, lojas de calçados, livrarias, joalherias, lojas de 1,99, lojas de conveniência, lojas de móveis, óticas, distribuidoras, ferragens, restaurantes, mercados, postos de combustível, prestadoras de serviço em geral, etc.</p>
           <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>


      </div>
    </div>
  </div>

<!--clouna nova -->
<div class="12u">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u">
          <section>
            <p><a href="#"> <%= image_tag 'banner_notebook.png' %></a></p>
            <p>Consertamos notebooks, utilizando peças de qualidade e marcas de renome. Além de fazer com que o notebook volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardwarer e do Sistema Operacional, para melhorar o desempenho de seu equipamento.
</p>
             <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>
       
        <div class="4u">
          <section>
            <p><a href="#"><%= image_tag 'banner_hds.png' %></a></p>
            <p>Recuperação de hds todas as marcas estamos capacitados tecnologicamente para recuperar dados de todas as marcas e modelos de HD estragado. Recuperar Hard Disks com vários sintomas também é um serviço oferecido pelo nosso laboratório de recuperação de dados em HD:</p>
             <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>
         <div class="4u">
          <section>
            <p><a href="#"><%= image_tag 'banner_programas.png' %></a></p>
            <p>Instalamos programas, aplicativos comerciais, aplicativos mobile e jogos em seu computador, notebook ou dispositivos moveis. Configuramos o seu software para que funcione perfeitamente, fazendo com que o programa em questão seja executado de maneira rápida e estável.</p>
           <p><%= link_to services_path ,:title => "Leia mais..." do %>
          Leia mais...
             <% end %>
        </p>
          </section>
        </div>

<!--outro linha abaixo-->
 


      </div>
    </div>
  </div>

