<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<% if user_signed_in? %>
		<h3>Cadastros</h3>
		<ul class="toggle">
			<li class="icn_new_article"><%= link_to new_admin_post_path do %>
				Novo Artigo <% end %></li>
			
			<li class="icn_categories"><%= link_to new_admin_category_path do %>
				Categorias
				 <% end %></li>
				 <li class="icn_categories"><%= link_to new_admin_type_path do %>
				Categorias de imagens
				 <% end %></li>
				 	<li class="icn_photo"><%= link_to new_admin_gallery_path do %>
				 		Cadastro de fotos <% end%></li>
			<li class="icn_profile"><%= link_to new_admin_user_path do %>
				 		Cadastro de usuários <% end%></li>
		</ul>
		<h3>Relatórios</h3>
		<ul class="toggle">
			<li class="icn_categories"><%= link_to admin_posts_path do %>
				Listagem de artigos<% end %></li>
			<li class="icn_categories"><%= link_to admin_categories_path do %>
				Listagem de categorias<% end %></li>
				<li class="icn_categories"><%= link_to admin_types_path do %>
				Listagem categorias de imagens<% end %></li>
			<li class="icn_profile"><%= link_to admin_contacts_path do %>
				E-mail do site<% end %></li>
				<li class="icn_add_user"><%= link_to admin_users_path do %>
				Listagem de usuários<% end %></li>
				<li class="icn_photo"><%= link_to admin_galleries_path do %>
					Listagem de fotos<% end %></li>
		</ul>
		<h3>Media</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="#">File Manager</a></li>
			<li class="icn_photo"><a href="#">Gallery</a></li>
			<li class="icn_audio"><a href="#">Audio</a></li>
			<li class="icn_video"><a href="#">Video</a></li>
		</ul>
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="#">Options</a></li>
			<li class="icn_security"><a href="#">Security</a></li>
			<li class="icn_jump_back">

			 <%= link_to  destroy_user_session_path, :method => :delete, :title => "Sair do sistema"  do %>
			 Sair 
			 <% end %>

			</li>
		</ul>
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2013 Notebooktech</strong></p>
			<p>Theme by <a href="http://erloncarlos.com" target="_blank">WebMaster</a></p>
		</footer>

		<% end %>