		
		<h4 class="alert_info">Welcome to the free MediaLoot admin panel template, this could be an informative message.</h4>
		
		
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Content Manager</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Posts</a></li>
    		<li><a href="#tab2">Comments</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">


			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th>Data</th>
    				<th>Nome</th> 
    				<th>E-mail</th> 
    				<th>assunto</th> 
    				<th>Ações</th> 
				</tr> 
			</thead> 
			<tbody> 
				
			 <% @contacts.each do |c| %>
                <tr> 
                  <td><%= c.created_at.strftime("%d de %b - %y") %></td>
                    <td><%= c.name %></td> 
                    <td><%= c.email %></td> 
                    <td><%= c.assunto %></td> 
                    <td>
                    	 <%= link_to admin_contact_path(c) do %>
                        <%= image_tag "admin/icn_search.png", :title=> "Visualizar" %><% end %>
                    	</td> 
                </tr> 
               <% end %>
                 <tr><td colspan="5"><%= will_paginate @contacts %></td></tr>
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		<!-- render menudireito -->		
			<%= render  'admin/homes/menudireito' %>		
		<!-- fecha render menudireito -->
		
		<div class="clear"></div>
		
		<article class="module width_full">
			<header><h3>Post New Article</h3></header>
				<div class="module_content">
						<fieldset>
							<label>Post Title</label>
							<input type="text">
						</fieldset>
						<fieldset>
							<label>Content</label>
							<textarea rows="12"></textarea>
						</fieldset>
						<fieldset style="width:48%; float:left; margin-right: 3%;"> <!-- to make two field float next to one another, adjust values accordingly -->
							<label>Category</label>
							<select style="width:92%;">
								<option>Articles</option>
								<option>Tutorials</option>
								<option>Freebies</option>
							</select>
						</fieldset>
						<fieldset style="width:48%; float:left;"> <!-- to make two field float next to one another, adjust values accordingly -->
							<label>Tags</label>
							<input type="text" style="width:92%;">
						</fieldset><div class="clear"></div>
				</div>
			<footer>
				<div class="submit_link">
					<select>
						<option>Draft</option>
						<option>Published</option>
					</select>
					<input type="submit" value="Publish" class="alt_btn">
					<input type="submit" value="Reset">
				</div>
			</footer>
		</article><!-- end of post new article -->
		
		<h4 class="alert_warning">A Warning Alert</h4>
		
		<h4 class="alert_error">An Error Message</h4>
		
		<h4 class="alert_success">A Success Message</h4>
		
		
		</article><!-- end of styles article -->
		<div class="spacer"></div>