






<article class="module width_full">
<header><h3>Detalhes do Email</h3>
<ul class="tabs">
<li>   <%= link_to 'Criar novo registro', admin_contacts_path, :title => "Página inicial" %></li>

</ul></header>
<div class="module_content">
  <h2><%= @contact.name %></h2>
  <h3>Fone - <%= @contact.fone %></h3>
  <label>Data do Email - <%= @contact.created_at.strftime("%d %b %y ") %></label><br>
  <label><%= @contact.email %></label>

<div><%= textilize @contact.assunto %></div>
<div><%= textilize @contact.body %></div>




</div>
<footer>
<div class="submit_link">
<%= link_to admin_contacts_path, :class =>"botaocancelar" do %>
Inicio <% end %>



</div>
</footer>
</article><!-- end of post new article -->



