<div class="12u">
<div class="5grid-layout">
<div class="row">
<div class="8u">
<section>
<h2>

  <%= @post.title %>
</h2>
<div class="show"><%= @post.created_at.strftime("%y %b %d") %></div>
 <label class="alert_post">Postado por - <%= @post.autor %></label>
<p>
 
  <%= textilize @post.subtitle %>
</p>

<p><a href="<%=  @post.url %>" target="_blank" title="Visite o site"><%=  @post.url %></a> </p>

<p>
 
  <%= textilize @post.body %>
</p>


<%= link_to 'Voltar', posts_path %>

</section>
</div>
<div class="4u">

  <%= render 'layouts/sidebar_direito' %>

</div>


</div>
</div>
</div>



