 <div id="footer-content" class="5grid-layout">
    <div class="row">
      <div class="3u">
        <h2>Últimos Posts</h2>
        <ul class="list-style1">
          <li class="first"><%= image_tag "pics05.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
          <li><%= image_tag "pics06.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
          <li><%= image_tag "pics07.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
        </ul>
      </div>
      <div class="3u">
        <h2>Redes Sociais</h2>
        <ul class="list-style1">
          <li class="first"><%= image_tag "pics08.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
          <li><%= image_tag "pics09.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
          <li><%= image_tag "pics10.jpg" %>
            <p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
            <p class="posted">August 11, 2002  |  (10 )  Comments</p>
          </li>
        </ul>
      </div>
      <div class="6u">


        <h2>Destaque Notícias do Blog</h2>
        <p class="margin-bottom"><%= image_tag "pics11.png" %></p>
        <p>Welcome to<strong> Elemental</strong>, a free responsive HTML5 website template designed by <a href="http://html5templates.com/">HTML5Templates.com</a>.   It features a neat and clean color combination, a spacious content area, and a large banner area, making it a great design for a corporate/portfolio type of website.  And like all of our templates, it is built on HTML5 and CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use personally or commercially under the <a href="http://html5templates.com/license/">Creative Commons license</a>. Be sure to check out our <a href="http://html5templates.com/">website</a> for more awesome free HTML5 templates and follow us on <a href="http://twitter.com/HTML5T">Twitter</a> for updates and new releases! Enjoy!</p>
        <p><a href="#" class="button">Leia Mais</a></p>
      </div>
    </div>
  </div>