 <div id="header-wrapper2">
    <header id="header" class="5grid-layout">
      <div class="row">
        <div class="12u" id="logo"> <!-- Logo -->
          <a href="#" class="mobileUI-site-name"><%= image_tag "logonotebooktech_700_200.png", :size => "300x85" %></a>
            <div id="logosocial"> <!-- Logo -->
               <%= image_tag "linkedin2.png" %>
          <a href="#"><%= image_tag "facebook.png" %></a>
           <%= image_tag "twitter2.png" %>
           
        
        </div>
        
        </div>

      </div>
      <div class="row">
        <div class="12u" id="menu">
          <nav class="mobileUI-site-nav">
            <ul>
              <li class="current_page_item"><a href="index.html">Home</a></li>
              <li><a href="threecolumn.html">A Empresa</a></li>
              <li><a href="twocolumn1.html">Blog</a></li>
                <li><a href="twocolumn1.html">Contatos</a></li>
              <li><a href="twocolumn2.html">Localização</a></li>
              <li><a href="onecolumn.html">Serviços</a></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="5grid-layout">
      <div class="row">
        <div class="12u">
          <div id="banner">
           
 <section id="featured_slide">
      <!-- ########################################################################################## -->
      <div id="slider">
        <ul>
          <li>
            <figure> <%= image_tag "pics01.jpg" %>
             
              <figcaption>
                <h2>Eu justo augue estas por que esta grande demais</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><%= image_tag "pics02.jpg", :size => "600x300" %>
              <figcaption>
                <h2>Eu justo augue estas</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><%= image_tag "pics03.jpg", :size => "600x300" %>
              <figcaption>
                <h2>Eu justo augue estas</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </li>
           <li>
            <figure><%= image_tag "pics03.jpg", :size => "600x300" %>
              <figcaption>
                <h2>Eu justo augue estas</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <!-- ########################################################################################## -->
    </section>







            </a></div>
        </div>
      </div>
    </div>
  </div>