 <div id="header-wrapper2">
    <header id="header" class="5grid-layout">
      <div class="row">
        <div class="12u" id="logo"> <!-- Logo -->
          <%= link_to root_path ,:class => "mobileUI-site-name" do %><%= image_tag "logonotebooktech_700_200.png", :size => "300x85" %><% end %>
            <div id="logosocial"> <!-- Logo -->

               <a href="http://www.linkedin.com/pub/erlon-carlos-carlos/1a/831/190" target="_blank">  <%= image_tag "linkedin2.png" %></a>
         
              
          <a href="https://www.facebook.com/erlonloja?ref=tn_tnmn" target="_blank"><%= image_tag "facebook.png" %></a>
          <a href="https://twitter.com/erlonlon" target="_blank">  <%= image_tag "twitter2.png" %></a>
           
        
        </div>
        
        </div>

      </div>
      <div class="row">
        <div class="12u" id="menu">
          <nav class="mobileUI-site-nav">
            <ul>
              <li class="current_page_item"><%= link_to root_path do %>
                Home<% end %></li>
              <li><%= link_to abouts_path do %>A Empresa<% end %></li>
              <li><%= link_to posts_path do %>Blog<% end %></li>
               <li><%= link_to contacts_path do %>Contatos<% end %></li>
                 <li><%= link_to images_path do %>Fotos<% end %></li>
             <li><%= link_to locations_path do %>Localização<% end %></li>
             <li><%= link_to services_path do %>Serviços<% end %></li>
               <li><%= link_to tables_path do %>Tabela Serviços<% end %></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="5grid-layout">
      <div class="row">
        <div class="12u">
          <div id="banner">
           
 <section id="featured_slide">
      <!-- ########################################################################################## -->
      <div id="slider">
        <ul>
          <li>
            <figure> <%= image_tag "banner_notebook.png" %>
             
              <figcaption>
                <h2>Manutenção de Notebooks</h2>
                <p>Consertamos notebooks, utilizando peças de qualidade e marcas de renome. Além de fazer com que o notebook volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardwarer e do Sistema Operacional, para melhorar o desempenho de seu equipamento.
</p>
                <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo;<% end %></footer>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><%= image_tag "banner_programas.png" %>
              <figcaption>
                <h2>Instalação de Programas</h2>
                 <p>Instalamos programas, aplicativos comerciais, aplicativos mobile e jogos em seu computador, notebook ou dispositivos moveis. Configuramos o seu software para que funcione perfeitamente, fazendo com que o programa em questão seja executado de maneira rápida e estável.</p>
               <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo;<% end %></footer>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><%= image_tag "banner_computador.png" %>
              <figcaption>
                <h2>Manutenção Computadores</h2>
               <p>Consertamos seu computador pessoal ou de sua empresa, utilizando peças de qualidade e marcas de renome. Além de fazer com que o computador volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardwarer e do Sistema Operacional, para melhorar o desempenho de seu equipamento.
</p>
                <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo;<% end %></footer>
              </figcaption>
            </figure>
          </li>
           <li>
            <figure><%= image_tag "banner_hds.png" %>
              <figcaption>
                <h2>Recuperação de Hds</h2>
                <p>Recuperação de hds todas as marcas estamos capacitados tecnologicamente para recuperar dados de todas as marcas e modelos de HD estragado. Recuperar Hard Disks com vários sintomas também é um serviço oferecido pelo nosso laboratório de recuperação de dados em HD:</p>
               <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo;<% end %></footer>
              </figcaption>
            </figure>
          </li>
            <li>
            <figure><%= image_tag "banner_pecas.png" %>
              <figcaption>
                <h2>Acessórios e Peças</h2>
                <p>Recuperação de hds todas as marcas estamos capacitados tecnologicamente para recuperar dados de todas as marcas e modelos de HD estragado. Recuperar Hard Disks com vários sintomas também é um serviço oferecido pelo nosso laboratório de recuperação de dados em HD:</p>
                <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo; <% end %></footer>
              </figcaption>
            </figure>
          </li>
           <li>
            <figure><%= image_tag "banner_impressoras.png" %>
              <figcaption>
               <h2>Manutenção em Impressoras</h2>
                <p>Manutenção preventiva, limpeza troca de placas, todos os tipos de acessórios, cartuchos, toners, tudo que a sua impressora precisa para que tenha um bom funcionamento, você vai encontrar aqui.<br> Além de recargas de cartuchos e toners. </p>
                <footer class="more"><%= link_to services_path do %>
                  Leia mais &raquo;<% end %></footer>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <!-- ########################################################################################## -->
    </section>

            </a></div>
        </div>
      </div>
    </div>
  </div>