<!DOCTYPE html>
<html>
<head>
	

  <title>Notebooktech - Painel de Controler</title>
 <%= stylesheet_link_tag  "admin/admin", :media => "all" %>
  <%= javascript_include_tag "admin/application" %>
  
  <%= csrf_meta_tags %>

</head>

<body>

<header id="header">
		<hgroup>
			<h1 class="site_title"><%= link_to admin_root_path  do %>
				Notebooktech Admin <% end %></h1>
			<h2 class="section_title">Dashboard</h2>
			<div class="btn_view_site">
				<%= link_to root_path, :target => "_blank" do %>
				Site <% end %>
			</div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	
	
	<aside id="sidebar" class="column">

		<%= render 'admin/homes/menu' %>

	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">

				 <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>

                <%= yield %>


	</section>

	</body>

	</html>

