<!DOCTYPE html>
<html>
<head>
	
<meta name="google-site-verification" content="2GiGa5286MACS5k3DQyRXvncde5DVM34mQpz7qZIhek" />
  <title>Notebooktech - Especialista em Notebooks</title>
  <%= favicon_link_tag 'favicon.ico' %>
 <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag "jquery-easySlider1.7" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
$(document).ready(function () {
    $("#slider").easySlider({
        auto: true,
        continuous: true,
        numeric: true,
        speed: 1200,
        pause: 5000 // change slide interval speed here
    });
});
</script>
<!--google analitico-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11357390-9', 'notebooktech.com.br');
  ga('send', 'pageview');

</script>

<!--google analitico-->



</head>
<body class="homepage">
  <!--bloco render header-->
<div id="header-wrapper">
 <%= render 'layouts/header' %>

</div>
 <!--bloco render header-->
<!--conteudo dimanico-->
<div id="page-wrapper">


 <%= yield %>


</div>
<!--conteudo dimanico-->
<!--conteudo footer-->
<div id="footer-wrapper">
 <%= render 'layouts/footer' %>
</div>
<!--conteudo footer-->
<div class="5grid-layout">
  <div id="copyright">
    <p>&copy; Your Site Name | Images: <a href="http://erloncarlos.com/" target="_blank">Layout</a> | Design: <a href="http://erloncarlos.com/" target="_blank">Erlon Carlos</a></p>
  </div>
</div>
</body>

</html>
